* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #0a5a9b;
    padding: 16px 0;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    border-bottom: 10px solid #4c86b5;
}
