* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lalezar', sans-serif;
}

.container {
    text-align: center;
}

header {
    margin-bottom: 40px;
    background-color: rgb(215, 212, 205);
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.626);
}

header img {
    height: 50px;
    margin-top: 20px;
}

header button {
    width: 20px;
    height: 20px;
    margin-left: 16px;
    padding: 1px 0px;
    font-size: 12px;
}

.title-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(230, 226, 219);
    padding-top: 70px;
}

form {
    display: none;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input {
    width: 400px;
    font-size: 16px;
}

button {
    width: 150px;
    font-size: 16px;
    background-color: rgb(245, 212, 82);
    color: rgba(0, 0, 0, 0.626);
    cursor: pointer;
}

button:hover {
    background-color: rgb(241, 220, 132);
}

input:focus {
    outline-color: rgb(245, 212, 82);
}